<header class="header">
  <nav class="nav">
    <div class="nav__links">        
      
      <a routerLink="/festivals" routerLinkActive="active">Festivals</a>

      @if (isLoggedIn()) {
        @if (isOrganizer()) {
          <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          <a routerLink="/reservants" routerLinkActive="active">Réservants</a>
        }
        <a routerLink="/games" routerLinkActive="active">Jeux</a>
        @if (isAdmin()) {
          <a routerLink="/admin" routerLinkActive="active">Admin</a>
        }
      }
    </div>
    <div class="nav__actions">
      @if (isLoggedIn()) {
      <a routerLink="/profile" routerLinkActive="active">Profil</a>
      <button type="button" class="nav__logout" (click)="logout()">
        Se déconnecter
      </button>
      } @else {
      <a routerLink="/login" routerLinkActive="active">Connexion</a>
      <a routerLink="/register" routerLinkActive="active">Inscription</a>
      }
    </div>
  </nav>
</header>

<main class="layout">
  <router-outlet />
</main>
