<section class="festival-page">
  <header class="festival-page-header">
    <div class="header-text">
      <p class="eyebrow">Accueil</p>
      <h1>Liste des festivals</h1>
    </div>
    @if (isLoggedIn()) {
      <div class="action-bar">
        @if(!showForm()){
          <button class="form-btn primary" (click)="toggleForm()">
            <span class="icon-plus">+</span>
            Ajouter un nouveau festival
          </button>
        } @else {
          <button class="form-btn ghost" (click)="toggleForm()">Annuler</button>
        }
      </div>
    }
  </header>

  @if (isLoggedIn() && showForm()) {
    <section class="festival-form-wrapper">
      <app-festival-form-component
        (festivalSubmit)="addFestival($event)"
        (zoneSubmit)="addZoneTarifaire($event, $event.festival_id)"></app-festival-form-component>
    </section>
  }

  <div class="festival-list">
    @for(festival of festivals(); track festival.id) {
      <app-festival-card-component [festival]="festival"></app-festival-card-component>
    }
  </div>
</section>
